// Margin for the edges of the document
#container
    width: 8.5in
    height: 11in
    margin: 3rem
    border: 1px black solid

// Header Styles
header
    // Set the font family for the entire header
    font-family: sans-serif
    
    // H1
    h1
        margin: 0

        position: absolute
        top: 1.75rem
        left: 2.75rem
        
        font-weight: 800
        font-size: 5rem

        text-transform: lowercase
        
        em
            color: brown
            font-style: normal
    p
        text-transform: uppercase
        font-weight: 600

        position: absolute
        top: 1rem
    img
        height: 7rem
        float: right
main
    margin: 0
    padding-top: 7rem

